<div class="container mt-2">
  <h2 class="text-secondary">Lista de peliculas</h2>
  <a [routerLink]="['/','agregar']">Agregar</a>
  |
  <a [routerLink]="['/','vistas']">Peliculas vistas</a>
  <br />
  <br />
  <div class="row mt-3">
    @for (item of peliculas; track $index) {
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <img class="img-fluid" [src]="item.poster" />
          <h2>{{item.titulo}}</h2>
          <p>{{item.resumen}}</p>
          <a [routerLink]="['/','editar', item.id]">Editar</a>
        </div>
        <div class="card-footer">
          <button class="btn btn-secondary" (click)="marcarComoVista(item.id)">Marcar como vista</button>
        </div>
      </div>
    </div>
    }
  </div>
</div>